body{
  margin:0;
  padding:10px;
}

.full-wrapper{
  width:100%;
}

.sidebar-wrapper{
  width:20%;
  display:inline-block;
  background-color:#F7F7F7;
  border-radius:20px;
}

.sidebar-header{
  padding: 20px;
}


.logo{
  background:url(Logo.png) no-repeat center left;
  width:125px;
  height:45px;
  background-size:contain;
  display:inline-block;
}

.expand-icon{
  background:url(Expand-Icon.png) no-repeat center right;
  width:26px;
  height:9px;
  background-size:contain;
}
  
