body{
  margin:0;
  padding:10px;
}

.poppins-light {
  font-family: "Poppins Light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins Semibold", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.full-wrapper{
  width:100%;
}

.sidebar-wrapper{
  width:270px;
  display:inline-block;
  background-color:#F7F7F7;
  border-radius:20px;
}

.sidebar-header{
  padding: 20px;
  display:flex;
  flex-wrap:nowrap;
  justify-content:center;
  align-items:center;
  align-content:flex-start;
  width:auto;
  flex-direction:row;
  border-bottom:1px solid #D3D3D3;
}


.logo{
  background:url(https://nickleo247.github.io/healthcare-ui/src/assets/images/Logo.png) no-repeat center left;
  width:80%;
  height:45px;
  background-size:contain;
  display:inline-block;
}

.expand-icon{
  background:url(src/assets/images/Expand-Icon.png) no-repeat center right;
  width:20%;
  height:9px;
  background-size:contain;
}
  
.sidebar-main-nav{
  padding-left:0;
  list-style:none;
}

.sidebar-main-nav li.single-nav-item{
  margin:10px 0;
}

.sidebar-main-nav li.single-nav-item a{
  display:block;
  padding:15px 20px;
  color:#343434;
  font-family: "Poppins", sans-serif;
  font-size:12px;
  text-decoration:none;
}

.sidebar-main-nav li.single-nav-item a.active-link{
  font-family: "Poppins Bold", sans-serif;
  font-weight:900;
  color:#100DB1;
  background:#DFE0E2;
}


.menu-icon-overview{
  background:url(src/assets/images/overview-icon.png) no-repeat left center;
  width:19px;
  height:19px;
  display:inline-block;
  vertical-align:middle;
  background-size:contain;
  margin-right:10px;
}

.menu-icon-appointments{
  background:url(src/assets/images/appointments-icon.png) no-repeat left center;
  width:19px;
  height:19px;
  display:inline-block;
  vertical-align:middle;
  background-size:contain;
  margin-right:10px;
}

.menu-icon-doctors{
  background:url(src/assets/images/doctor-icon.png) no-repeat left center;
  width:19px;
  height:19px;
  display:inline-block;
  vertical-align:middle;
  background-size:contain;
  margin-right:10px; 
}

