body{
  margin:0;
  padding:20px;
}

.poppins-light {
  font-family: "Poppins Light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins Semibold", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.full-wrapper{
  width:100%;
}

.sidebar-wrapper{
  display:inline-block;
  background-color:#F7F7F7;
  border-radius:20px;
  /*height:calc( 100vh - 40px );*/
}

.sidebar-header{
  padding: 20px;
  display:flex;
  flex-wrap:nowrap;
  justify-content:center;
  align-items:center;
  align-content:flex-start;
  width:auto;
  flex-direction:row;
  border-bottom:1px solid #D3D3D3;
}


.logo{
  background:url(https://nickleo247.github.io/healthcare-ui/src/assets/images/Logo.png) no-repeat center left;
  width:80%;
  height:45px;
  background-size:contain;
  display:inline-block;
}

.expand-icon{
  background:url(https://nickleo247.github.io/healthcare-ui/src/assets/images/Expand-Icon.png) no-repeat center right;
  width:20%;
  height:9px;
  background-size:contain;
}
  
.sidebar-main-nav{
  padding-left:0;
  list-style:none;
  margin:35px 0;
}

.sidebar-main-nav li.single-nav-item{
  margin:10px 0;
}

.sidebar-main-nav li.single-nav-item a{
  display:block;
  padding:20px;
  color:#343434;
  font-family: "Poppins", sans-serif;
  font-size:12px;
  text-decoration:none;
}

.sidebar-main-nav li.single-nav-item a.active-link{
  font-family: "Poppins Bold", sans-serif;
  font-weight:900;
  color:#100DB1;
  background:#DFE0E2;
}


.menu-icon-overview{
  background:url(https://nickleo247.github.io/healthcare-ui/src/assets/images/overview-icon.png) no-repeat left center;
  width:19px;
  height:19px;
  display:inline-block;
  vertical-align:middle;
  background-size:contain;
  margin-right:10px;
}

.menu-icon-appointments{
  background:url(https://nickleo247.github.io/healthcare-ui/src/assets/images/appointments-icon.png) no-repeat left center;
  width:19px;
  height:19px;
  display:inline-block;
  vertical-align:middle;
  background-size:contain;
  margin-right:10px;
}

.menu-icon-doctors{
  background:url(https://nickleo247.github.io/healthcare-ui/src/assets/images/doctor-icon.png) no-repeat left center;
  width:19px;
  height:19px;
  display:inline-block;
  vertical-align:middle;
  background-size:contain;
  margin-right:10px; 
}

.menu-icon-pathology{
  background:url(https://nickleo247.github.io/healthcare-ui/src/assets/images/pathology-icon.png) no-repeat left center;
  width:19px;
  height:19px;
  display:inline-block;
  vertical-align:middle;
  background-size:contain;
  margin-right:10px; 
}

.menu-icon-chats{
  background:url(https://nickleo247.github.io/healthcare-ui/src/assets/images/chat-icon.png) no-repeat left center;
  width:19px;
  height:19px;
  display:inline-block;
  vertical-align:middle;
  background-size:contain;
  margin-right:10px;
}

.menu-text{
  padding:0px 20px;
  text-transform:uppercase;
  font-size:12px;
  color:#343434;
  font-family: "Poppins Bold", sans-serif;
  font-weight: 700;
}

.single-nav-item{
  position:relative;
}

.chat-number{
  position:absolute;
  right:20px;
  top:34%;
  background-color:#F80D38;
  color:white;
  font-family: "Poppins Bold", sans-serif;
  font-size:8px;
  text-align:center;
  padding:3px 5px;
  cursor:pointer;
  border-radius:8px;
  font-weight: 700;
}

.menu-icon-settings{
  background:url(https://nickleo247.github.io/healthcare-ui/src/assets/images/settings-icon.png) no-repeat left center;
  width:19px;
  height:19px;
  display:inline-block;
  vertical-align:middle;
  background-size:contain;
  margin-right:10px;
}

.menu-icon-logout{
  background:url(https://nickleo247.github.io/healthcare-ui/src/assets/images/logout-icon.png) no-repeat left center;
  width:19px;
  height:19px;
  display:inline-block;
  vertical-align:middle;
  background-size:contain;
  margin-right:10px;
}

.red-nav-text a{
  color:#F80D38 !important;
  font-family: "Poppins Bold", sans-serif;
  font-weight: 700;
}

.red-plain-text{
  color:#F80D38;
  font-family: "Poppins Bold", sans-serif;
  font-weight: 700;
  display:inline-block;
  font-size:12px;
  margin:0 0 5px 0;
}

.phone-icon{
  background:url(https://nickleo247.github.io/healthcare-ui/src/assets/images/phone-icon.png) no-repeat left center;
  width:28px;
  height:32px;
  display:inline-block;
  vertical-align:middle;
  background-size:contain;
  margin-right:10px;
}

.footer-phone{
  display:inline-block;
  vertical-align:middle;
  margin:0;
  font-size:10px;
  color:#343434;
  font-family: "Poppins", sans-serif;
}

.hotline-text{
  display:inline-block;
}

.sidebar-footer{
  padding:0 20px;
}

header{
  background-color:#F7F7F7;
  padding:20px;
  border-radius:20px;
}

.search-bar{
  border:1px solid #C5C5C5;
  background-color:white;
  padding:7px;
  border-radius:10px;
}

.submit-button{
  border:0;
  background:transparent;
  vertical-align:top;
}

.search-bar-icon{
  background:url(https://nickleo247.github.io/healthcare-ui/src/assets/images/search-icon.png) no-repeat center center;
  display:inline-block;
  width:13px;
  height:13px;
  vertical-align:middle;
  background-size:contain;
  border:0;
}

.‎search-input{
  border:0;
  display:inline-block;
  vertical-align:middle;
  font-size:10px;
}

.notification-bell{
  background:url(/bell-icon.png) #fff no-repeat center center;
  border:1px solid #C5C5C5;
  border-radius:100%;
}
